* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Jacquard";
    src: url("./assets/fonts/Jacquard24-Regular.ttf");
}

body {
    background-image: url("./assets/img/background_1920x1080.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

@mixin flexer($jc :center, $ai :center, $fd :column, $g :0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    gap: $g;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
